---
import Layout from "$components/layouts/basic.astro";
import PostList from "$components/post_list.astro";
import Section from "$components/section.astro";
---

<Layout title="Blog Posts" description="Blog posts by Magnetar.">
	<main>
		<Section title="Posts">
			<PostList />
		</Section>
	</main>
</Layout>
