:root {
	--background-primary: rgb(255 255 255 / 1);
	--background-secondary: rgb(244 244 245 / 1);

	--text-primary: rgb(39 39 42 / 1);
	--text-secondary: rgb(82 82 91 / 1);
	--text-tartiary: rgb(113 113 122 / 1);

	--tint-primary: rgb(37 99 235 / 1);
	--tint-secondary: rgb(219 234 254 / 1);
	--tint-background: rgb(240 249 255 / 1);

	@media (prefers-color-scheme: dark) {
		--background-primary: rgb(24 24 27 / 1);
		--background-secondary: rgb(39 39 42 / 0.5);

		--text-primary: rgb(244 244 245 / 1);
		--text-secondary: rgb(212 212 216 / 1);
		--text-tertiary: rgb(161 161 170 / 1);

		--tint-primary: rgb(14 165 233 / 1);
		--tint-secondary: rgb(12 74 110 / 1);
		--tint-background: rgb(8 47 73 / 1);
	}
}
