---
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import ContactListItem from '@components/ContactListItem.astro';
import Section from '@components/Section.astro';
import ProjectsList from '@components/ProjectsList.astro';
import PostList from '@components/PostList.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<Section>
				<p class="headline-title">Hey, I'm Magnetar.</p>
				<p class="headline-subtitle">I am designing & building sites, apps, and tools.</p>
			</Section>

			<Section>
				<h2>About Me</h2>
				<p>
					Occaecat veniam commodo sit pariatur pariatur. Eiusmod fugiat eu magna est nulla veniam esse anim ad id tempor. Labore eiusmod ea anim minim cillum consequat ut adipisicing aliqua. Cillum ea duis et ad minim duis minim eiusmod laborum exercitation ullamco eiusmod amet dolor est.
				</p>
			</Section>

			<Section>
				<h2>Contact</h2>
				<div role="list">
					<ContactListItem label="Email" detail="contact@magnetar.dev" href="mailto:contact@magnetar.dev" />
					<ContactListItem label="Twitter" detail="magnetardev" href="https://twitter.com/magnetardev" />
					<ContactListItem label="GitHub" detail="magnetardev" href="https://github.com/magnetardev" />
					<ContactListItem label="Mastodon" detail="@magnetardev@mstdn.social" href="https://mstdn.social/@magnetar" />
				</div>
			</Section>

			<Section>
				<h2>Featured Works</h2>
				<ProjectsList />
			</Section>

			<Section>
				<h2>Recent Posts</h2>
				<PostList />
			</Section>
		</main>
		<Footer />
	</body>
</html>

<style is:global>
	.headline-title {
		font-size: 3rem;
		font-weight: 700;
	}

	.headline-subtitle {
		font-size: 1.5rem;
	}

	h2 {
		margin-block: 1rem 0.5rem;
		font-size: 1.05rem;
		font-weight: 600;
	}
</style>
