---
export type Props = {
	label: string;
	detail: string;
	href: string;
};

const { label, detail, href } = Astro.props;
---
<a class="contact-list-item" href={href} target="_blank" rel="noreferrer" role="listitem">
	<span class="contact-list-item-label">{label}</span>
	<span class="contact-list-item-detail">{detail}</span>
</a>

<style is:global>
	.contact-list-item {
		display: grid;
		text-decoration: none;
		margin-block-end: 0.5rem;
		max-inline-size: 24rem;
		grid-template-columns: 1fr 2fr;

		.contact-list-item-label {
			color: #000;
		}

		.contact-list-item-detail {
			color: rgba(0 0 0 / 0.5);
		}
	}
</style>
