---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./header_link.astro";
import Logo from "./icons/logo.astro";
---

<header>
	<div class="header-content">
		<a class="header-branding" title="Return Home" href="/">
			<div class="header-logo">
				<Logo />
			</div>
			<h1 class="header-title">{SITE_TITLE}</h1>
		</a>
		<nav class="header-items">
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="https://github.com/magnetardev" target="_blank">
				GitHub
			</HeaderLink>
		</nav>
	</div>
</header>

<style is:global>
	header {
		.header-content {
			display: flex;
			align-items: center;
			justify-content: space-between;
			max-width: 52rem;
			margin: auto;
			padding: 1rem;
		}

		.header-branding {
			display: flex;
			align-items: center;
			text-decoration: none;
			color: var(--text-primary);
			padding: 0.25rem;
			border-radius: 1.5rem;
			margin-inline-start: -0.5rem;

			.header-logo {
				width: 2.5rem;
				height: 2.5rem;
				padding: 0.25rem;
				border-radius: 1.25rem;

				& svg {
					width: 2rem;
					height: 2rem;
				}
			}

			.header-title {
				margin-inline-start: 0.5rem;
				margin-inline-end: 0.75rem;
				font-weight: 500;
			}

			&:hover {
				color: var(--tint-primary);
				background-color: var(--tint-background);
			}

			@media (prefers-reduced-motion: no-preference) {
				transition: color 0.2s ease-in-out,
					background-color 0.2s ease-in-out;
			}
		}

		.header-items {
			display: flex;
			align-items: center;
		}

		@media (width <= 32rem) {
			.header-title {
				display: none;
			}

			.header-items {
				display: flex;
				overflow: scroll;
				align-items: center;
				justify-content: center;

				.header-item {
					padding: 0.5rem;
				}
			}
		}
	}
</style>
