---
import { CollectionEntry, getCollection } from 'astro:content';
import FormattedDate from './FormattedDate.astro';

export type Props = {
	maximum?: number;
}

let posts: CollectionEntry<'blog'>[] = await getCollection('blog');

const { maximum } = Astro.props;

if (maximum) {
	posts = posts.slice(0, Math.min(maximum, posts.length));
}
---

<div class="posts-list">
	{posts.map(({ slug, data: post }) => {
		return <a class="post-item" href={`/blog/${slug}`}>
			<h3 class="post-item-title">{post.title}</h3>
			<p class="post-item-date">
				<FormattedDate date={post.pubDate}/>
			</p>
			<p class="post-item-description">{post.description}</p>
		</div>;
	})}
</div>

<style is:global>
	.posts-list {
		border-radius: 0.5rem;
		overflow: hidden;
		background-color: rgba(0 0 0 / 0.035);
	}

	.post-item {
		display: block;
		color: inherit;
		text-decoration: none;
		padding: 1rem;
		border-bottom: solid 1px rgba(121, 121, 121, 0.5);

		&:last-child {
			border-bottom: none;
		}

		.post-item-title {
			font-weight: 500;
		}

		.post-item-date {}

		.post-item-description {}
	}
</style>
