---
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import ProjectsList from '@components/ProjectsList.astro';
import Section from '@components/Section.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<Section>
				<h2>Featured Work</h2>
				<ProjectsList prioritize />
			</Section>
			<Section>
				<h2>Completed & Active Work</h2>
				<ProjectsList prioritize />
			</Section>
			<Section>
				<h2>Archived Work</h2>
				<ProjectsList prioritize />
			</Section>
		</main>
		<Footer />
	</body>
</html>
